@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Poppins, sans-serif;
  font-size: 0.7rem;
  color: black;
  min-height: 100vh;
}

header img{
    max-width: 100%;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
}

.brand-logo-name {
  margin-left: 1em;
}

.main-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav div {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}


.second{
  padding-left: 1rem;
}

.main-nav div:hover  {
  color: #adadad;
}

.main-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header {
  height: 160px;
}


/* .main-footer .container {
  display: flex;
  justify-content: space-between;
} */

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;

}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}


.titlec{
    font-size: 1.4em;
    font-weight: bold;
    color: #c40c1e;
}

.num{
    font-size: 2em!important;
    font-weight: bolder;
    color: black;
}

span{
  color: #c40c1e;
  font-weight: bold;
}

.fa-search{
  font-size: 1.8em;
  /* border: 0.1px solid black; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.menu-wrapper{
  background-color: rgb(180, 23, 32);
}

.menu{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(180, 23, 32);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
}

.mobile-menu{
  display: none;
}

#hamburgerMenu{
  display: none;
  height: 40px;
  position: absolute;
  top: 1%;
  left: 80%;
  cursor: pointer;
}

.mobile-menu img{
  display: block;
  height: 40px;
  position: absolute;
  top: 1%;
  left: 80%;
}

.enabled{
  display: block;
}

.contact{
  padding-right: 0px;
}

.search{
  padding-right: 150px;
  padding-left: 1em;
  cursor: pointer;
}

.menu a{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover{
  color: rgba(255, 255, 255,0.7);
}


.link{
  padding: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.287);
  border-right: 1px solid rgba(255, 255, 255, 0.287);
}

.news{
display: flex;
}

.image{
  padding-top: 60px;
  width: 400px;
  margin-right: 30px;
  filter: brightness(80%);
} 

.image:hover{
  filter: brightness(100%);
}

.image img{
  height: 100%;
  width: 100%;
}

.image h1{
  position: absolute;
  color: white;
  top: 70%;
  left: 30%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}

.image p{
  position: absolute;
  color: white;
  top: 85%;
  left: 43%;
  transform: translate(-50%, -50%);
}


@media (max-width:1200px){


}

@media (max-width: 1100px){
  header{
    flex-direction: column;
  }

  header a{
    order: 2;
  }

  .main-nav{
    order: 1;
    font-size: 0.7em;
  }

  .main-nav div{
    padding:10px 60px;
  }

  .search{
    padding-right: 0;
  }

  .contact{
    padding-right: 0;
  }

  .link{
    padding: 10px;
  }

  .menu{
    justify-content: center;
  }
  
  .image h1{
    position: absolute;
    color: white;
    top: 55%;
    left: 34%;
    font-size: 2em;
    transform: translate(-50%, -50%);
  }
  
  .image p{
    position: absolute;
    color: white;
    top: 80%;
    left: 41%;
    transform: translate(-50%, -50%);
  }

}

@media (max-width: 868px){

  #hamburgerMenu{
    display: block;
  }

  header img{
    width: 220px;
  }

  .main-nav{
    display: none;
  }

  .menu{
    display: none;
  }


  #mobile-nav{
    /* display: block; */
    text-align: center;
    position: absolute;
    left: 0;
    top: 18%;
    width: 100%;
    /* border: 2px solid black; */
    font-size: 2rem;
    z-index: 10;
    transition: 1s ease-in;
  }

  #mobile-nav .link{
    float: none;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
  }

  #mobile-nav .link:hover{
    background: rgba(0, 0, 0, 0.4);
  }

  #mobile-nav a{
    color: white;
    text-decoration: none;
  }


  .link{
    border-bottom: 1px solid gray;
  }

  .news{
    flex-direction: column;
    align-items: center;
  }

  .image{
    padding-top: 0;
    width: 90%;
    margin-right: 0;
  } 

  .image h1{
    position: absolute;
    color: white;
    top: 65%;
    left: 25%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    font-size: 11px;
  }
  
  .image p{
    position: absolute;
    color: white;
    top: 80%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 9px;
  }



  
}

@media (max-width: 768px){
  .image h1{
    position: absolute;
    color: white;
    top: 60%;
    left: 25%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    font-size: 27px;
  }
  
  .image p{
    position: absolute;
    color: white;
    top: 80%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 19px;
  }
}

@media (max-width: 600px) {
  .image h1{
    position: absolute;
    color: white;
    top: 40%;
    left: 34%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  
  .image p{
    position: absolute;
    color: white;
    top: 70%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 10px;
  }
}

@media (max-width: 360px) {
    .image h1 {
      position: absolute;
      color: white;
      top: 35%;
      left: 38%;
      font-size: 2em;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20px;
    }
    .image p {
      position: absolute;
      color: white;
      top: 68%;
      left: 42%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 9px;
    }
  }

