body {
  background-image: url("back1.jpg");
  background-size: auto;
}

body,
html {
  margin: 0;
  padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4em solid black;
  border-radius: 0.5em;
  margin: 0.6em;
  padding: 0.9em 0.1em;
  font-size: 0.7em;
  transition: all 0.07s ease;
  width: 10em;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5em black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 2em #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
