@font-face{
    font-family: main;
    src:url("./fonts/Impact.ttf")
}

*{
    padding: 0;
    margin: 0;
}

.home{
    background-image: url("../img/bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
} 



.home h1{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 73vh;   
    color: white;
    font-family: main;
    font-size: 8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    text-shadow: 3px 3px 2px black;
}

.home h1 span{
    color: red;
}

.disclaimer{
    font-family: Arial;
    color: white;
    text-align: center;
    font-size:2.4em;
    font-weight: normal;
}

button{
    height: 60px;
    width: 200px;
    margin-top: 15px;
    border-radius: 30px;
    padding: 10px 25px;
    color: white;
    background-color: red;
    font-style: italic;
    border: none;
    font-size: 1.1em;
}

.oroi{
    
    color: white;
    text-align: right;
    visibility: hidden;
}

button:hover{
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.flex-grid {
    display: flex;
    background-color: #161615;
    height: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -20px;
  }
  
.col {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: Arial;
    padding-right: 150px;
  }

.col .num{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-weight: bolder;
    font-size: 1.5em;
}

.paixnidia{
    padding: 60px 10px;
    background-color: black;
    color: white;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 0.7em;
}

.paixnidia span{
    color: red;
}

.paixnidia h5{
    padding-bottom: 20px;
    font-size: 1.1em;
}

.gridgames{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.game {
    position: relative;
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
    padding-bottom: 60px;
    cursor: pointer;
}

.mainImg{
    position: relative;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    z-index: 2;
}

 .play{
    position: absolute;
    height: 150px;
    width: 150px;
    margin: auto;
    left: 150px;
    top: 150px;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    
} 

.mainImg:hover {
    z-index: 0;
}


.gameText{
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {

    .home h1{
        font-size: 2.5em;
        height: 80%;
    }

    .disclaimer{
        font-size: 0.8em;
    }

    .oroi{
        padding-top: 30px;
        visibility: visible;
    }

    .gridgames{
        grid-template-columns: 1fr 1fr;
    }

    .game {
        position: relative;
        left: 0;
        top: 0;
        height: 150px;
        width: 150px;
        padding-bottom: 30px;
        cursor: pointer;
    }
    
    .mainImg{
        position: relative;
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
        z-index: 2;
    }
    
     .play{
        position: absolute;
        height: 50px;
        width: 50px;
        margin: auto;
        left: 75px;
        top: 75px;
        transform: translate(-50%,-50%);
        text-align: center;
      
}

    .col{
        padding-right: 4px;
    }

    .col .num{
        font-size: 0.9em;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .col .text{
        font-size: 0.5em;
    }

    .flex-grid{
        margin-top: 0;
    }
}
