body {
    background-color: rgba(38, 43, 43, 0.76);
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    border-radius: 14px;
}

h1 {
    text-align: center;
    font-family: monospace;
}

#btn {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: monospace;
    font-size: 2em;
}

#profImg {
    border-radius: 50%;
    border: 3px double rgb(31, 35, 39);
    visibility: hidden;
}

#profImg{
    height: 150px;
    width: 150px;
}

.container {
    background-color: rgba(37, 142, 240, 0.774);
    border: 3px solid rgb(247, 208, 150);
    border-radius: 15px;
    color: azure;
    margin-bottom: 50px;
}

.grid12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    margin: auto;
    width: 800px;
}

.grid-item {
    width: 180px;
    height: 180px;
}

.grid-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#dl {
    text-align: center;
}

#lightbox {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox img {
    height: 350px;
    width: 350px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.493);
    padding: 4px;
}

.active {
    display: flex !important;
    justify-content: center;
    align-items: center;
}