.input {
    display: flex;
    justify-content: center;
    align-items: center;

}

input {
    border-radius: 14px;
}

h1 {
    text-align: center;
    font-family: monospace;
}

#btn {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: monospace;
    font-size: 2em;

}

.container {
    background-color: rgba(37, 142, 240, 0.774);
    border: 3px solid rgb(247, 208, 150);
    border-radius: 15px;
    color: azure;
    margin-bottom: 50px;
}

.grid12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    margin: auto;
    width: 800px;

}

.grid-item {
    width: 180px;
    height: 180px;

}

.grid-item img {
    width: 100%;
    height: auto;
}

/* #profImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
} */

#dl {
    text-align: center;
}