body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.responsive{
    max-width: 55%;
    height: auto;
}

img{
    padding: 15px;
}

.display-box{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}

hr{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 3px white;
}