@media only screen and (min-device-width: 768px){

    a{
        color: inherit;
        text-decoration: none;
    }

    body{
        margin: 0;
        padding: 0;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #ebac13;
        justify-items: center;
        align-items: center;
        padding: 0.7rem;
    }
    
    .back-img{
        margin-right: auto;
    }

    .back-img img{
        height: 32px;
        width: auto;
    }

    .menu{
        grid-column-start: 2;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .power{
        margin-left: auto;

    }

    .power img{
        height: 32px;
        width: 32px;
        /* text-align: right; */
    }

    .name{
        text-align: right;
        color: gray;
        font-size: 1.4rem;
        padding: 0.9rem;
    }

    .search{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin-top: .7rem;
    }

    .search img{
        height: 32px;
    }

    .search-input{
        grid-column-start: 2;
        /* font-size: 1.3rem;
        font-weight: bold; */
    }

    input{
        outline: none;
        background: none;
        border: 1px solid #2E3852;
        font-size: 1rem;
        padding: .5rem;
        color: inherit;
        border-radius: 5px;
        width: 35vw;
    }

    input:focus{
        border-color:#ebac13;
    }


    .user{
        margin-left: auto;
        padding-right: 3rem;

    }

    .user img{
        /* padding-right: 3rem; */
    }

    .content{
        display: flex;
        justify-content: center;
    }

    .results{
        margin-top: 2rem;
        border: 1px solid black;
        width: 70vw;
        height: 60vh;
        border-radius: 5px;
        font-weight: 400;
        overflow: hidden;
    }

    .result {
        border: 1px solid rgba(55, 163, 212, 0.3);
        font-family: monospace;
        padding: 0.5rem;
      }

    .result:hover {
        background-color: rgba(55, 163, 212, 0.3);
        cursor: pointer;
      }

      .result-name{
        font-size: 1.6rem;

      }

      .result-address{
        font-size: 1rem;
          
    }
}
}