body {
  background: linear-gradient(
      to bottom,
      rgba(140, 122, 122, 1) 0%,
      rgba(175, 135, 124, 1) 65%,
      rgba(175, 135, 124, 1) 100%
    )
    fixed;
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg")
      no-repeat center center fixed; */
  background: url("back2.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-top: 30px;
}

.card {
  height: 230px;
  width: 280px;
  background-color: rgba(206, 247, 227, 0.836);
  border-radius: 14px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  margin-top: 100px;
  border-color: rgb(255, 0, 0);
  transition: 300ms;
}

.card:hover {
  background-color: rgba(176, 202, 189, 0.836);
  box-shadow: 5px 15px 40px -12px black;
  height: 240px;
  width: 290px;
}

.one-third {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat {
  font-size: 50px;
  font-weight: 600;
}

#btcusd {
  transition: 500ms;
}

#ethusd {
  transition: 500ms;
}

#btc {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-35%, -30%);
}

#eth {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-65%, -30%);
}
