:root{
    --primary-color: #cc0000;
    --secondary-color: #7c0000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
}

.app-header{
    background: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
}

.app-header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.app-header .logo{
    width: 170px;
    margin-bottom: 16px;
}

.app-header .search{
    padding: 7px;
    width: 300px;
    border: 0;
    border-radius: 3px;
}

.subheader{
    background: var(--secondary-color);
    color: white;
    box-shadow: 3px 3px 10px #888;
    width: 90%;
    margin: 0 auto 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
    font-size: 14px;
}

.subheader p{
    margin: 4px;
}

.subheader img{
    width: 40px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid .item{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 2px #ccc;
}

.grid .item:hover{
    box-shadow: 1px 1px 11px #ccc;
}

.grid .item h4{
    margin-bottom: 5px;
}

.grid .item p{
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.grid .item img{
    width: 30px;
    align-self: flex-end;
}

.app-footer{
    background: #f4f4f4;
    color: #444;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    flex-shrink: 0;
}

.app-footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 10px 15px;
}

.app-footer li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer li:hover{
    color:#888;
}

.app-footer i{
    font-size: 22px;
}

/* splash screen */

#splash{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s;
}

#splash img{
    width: 300px;
}

#splash.fade{
    opacity: 0;
}


@media (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid .item img{
        width: 60px;
    }
}