* {
  background-color: rgb(119, 122, 124);
}

.grid-16 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(119, 122, 124);
  padding-top: 40px;
  /* 
  padding-left: 390px;
  padding-right: 390px;
  padding-bottom: 120px; */
  grid-gap: 10px;
  /* border: 5px solid #000; */
}

.pads {
  display: flex;
  width: 150px;
  height: 150px;
  /* padding: 10px; */
  border: 2px solid rgb(170, 170, 170);
  border-radius: 18px;
  /* box-shadow: -1px -1px 1px 1px beige; */
  font-size: 11px;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(53, 54, 54);
  color: white;
  /* transition: 0.3s; */
  box-shadow: 0 6px rgb(80, 80, 80);
}

.padsPink{
  background-color: palevioletred;
  border-color: oldlace;
  box-shadow: 0 4px rgba(255, 255, 255, 0.356);
}

.padsWhatever{
  background-color: rgb(51, 74, 90);
  border-color: rgb(197, 147, 53);
  box-shadow: 0 4px rgba(85, 31, 31, 0.356);
}

.pads:hover {
  background-color: rgba(53, 54, 54, 0.3);
}

.padsPink:hover{
  background-color: rgb(207, 164, 196);
}

.padsWhatever:hover{
  background-color: rgba(22, 18, 27, 0.411);
}

.pads:active {
  background-color: rgba(53, 54, 54, 0.1);
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

.padsPink:active{
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pads {
    width: 70px;
    height: 70px;
  }
}

#mySidenav {
  position: absolute;
  left:0px;
  transition:0.3s;
  padding: 10px;
  width: 10px;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  color:white;
  border-radius: 0 14px 5px 0;
  top:160px;
  background-color:rgb(53, 54, 54);
  border:2px solid rgb(170, 170, 170);
  overflow: hidden;
}

h4{
  background-color:rgb(53, 54, 54);
  writing-mode: vertical-rl;
  margin-left: -10px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

#mySidenav:hover{
  left:0;
  height: 180px;
  width: 140px;
  box-shadow: 0 0 5px white;
}

#mySidenav:hover h4{
  writing-mode: horizontal-tb;
  text-align: center;
  margin-top:-5px;
}

#mySidenav:hover h4::after{
  margin-top: 5px;
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  left: 0;
  display: block;
  clear: both;
  background-color: white;
}

#mySidenav:hover .changeCol, #mySidenav:hover .pink, #mySidenav:hover .whatever{
  display: block;
}

.changeCol{
  background-color:rgb(53, 54, 54);
  display:none;
  transition:0.5s;
  font-size: 13px;
  text-align: center;
  margin-top:-29px;
}

.pink{
  display:none;
  text-decoration: none;
  background-color:rgb(53, 54, 54);
  color: pink;
  cursor: pointer;
  transition:0.5s;
  font-size: 11px;
  text-align: center;
}

.whatever{
  display:none;
  text-decoration: none;
  background-color:rgb(53, 54, 54);
  color: rgb(192, 209, 255);
  cursor: pointer;
  transition:0.5s;
  font-size: 11px;
  text-align: center;
}
