* {
  background-color: rgb(119, 122, 124);
}

.grid-16 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  justify-content: center;
  background-color: rgb(119, 122, 124);
  padding-top: 40px;
  /* 
  padding-left: 390px;
  padding-right: 390px;
  padding-bottom: 120px; */
  grid-gap: 10px;
  /* border: 5px solid #000; */
}

.pads {
  display: flex;
  width: 150px;
  height: 150px;
  /* padding: 10px; */
  border: 2px solid rgb(170, 170, 170);
  border-radius: 18px;
  /* box-shadow: -1px -1px 1px 1px beige; */
  font-size: 11px;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(53, 54, 54);
  color: white;
  /* transition: 0.3s; */
  box-shadow: 0 6px rgb(80, 80, 80);
}

.pads:hover {
  background-color: rgba(53, 54, 54, 0.7);
}

.pads:active {
  background-color: rgba(53, 54, 54, 0.1);
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .pads {
    width: 70px;
    height: 70px;
  }
}
